<%= form_for(@feedback) do |f| %>
<% if @feedback.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

	<ul>
		<% @feedback.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	Provide your website address.<br />
	<%= f.text_field :url %>
</div>
<div class="question-field">
	Write your questions or website description here.<br />
	<%= f.text_area :questions, :rows => 10 %>
</div>
<div class="field">
	Your email address. (to send a link to your results and Bug Tracking System)<br />
	<%= f.text_field :email %>
</div>
<div class="field">
	Select number of Bugs<br />
	<%= f.select :numofbugs, options_for_select([["10 for $20", "10 for $20 Dollars"], ["25 for $40", "25 for $40 Dollars"],["50 for $75","50 for $75 Dollars"],["Others","Others"]]) %>
</div>
<div class="field">
	Select due date for testing<br />
	<div class="test">
		<%= f.datetime_select :duedate %>
	</div>
</div>
<div class="field">
	Your first name<br />
	<%= f.text_field :firstname %>
</div>
<div class="field">
	Your last name<br />
	<%= f.text_field :lastname %>
</div>
<div class="field">
	Your telephone number<br />
	<%= f.text_field :telephone %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
