<% provide(:title, 'Show All Bug') %>
<div class="container">
	<% if current_user %>
	<div id="user-left">
		<h1>
			<%= gravatar_for @user %> <br/>
			Welcome, <%= @user.name %> <br/>
		</h1>
		<%= @user.email %> <br/>
		<%= link_to "DASHBOARD", current_user, class: "profile-btn" %> <br/>

	</div>
	<% end %>

	<% if current_tester %>
	<div id="user-left">
		<h1>
			Welcome, <%= @tester.fname %> <br/>
		</h1>
		<%= @tester.email %> <br/>
		<%= link_to "DASHBOARD", current_tester, class: "profile-btn" %> <br/>
	</div>
	<% end %>

	<div id="user-right">
		<div id="content">

			<div>
				<%= link_to "Show all bug", showall_feedback_path %> 
				
				<% if current_tester %> 
					| <%= link_to "My bug", mybug_feedback_path %>
				<% end %>
				
			</div>
			<div id= "verify-request">
				<h2>View all issues</h2>
				<p>Please click each issue to see the details of bugs</p>
			</div>

			<p class="url">
				<% @issue.each do |issue| %>
				<table class="table">  
					<thead>  
						<tr>  
							<th>ID</th>  
							<th>Title</th>  
							<th>Priority</th>  
							<th>Description</th>
							<th>Approval Status</th>  
						</tr>  
					</thead>  
					<tbody>  
						<tr>  
							<td><%= link_to issue.id, :controller => "issues", :action => "show", :id => issue.id %></td>  
							<td><%= issue.title %></td>  
							<td><%= issue.priority %></td>  
							<td><%= issue.description %></td>  
							<td style="font-weight: bold;"><%= issue.approvalstatus %></td> 
						</tr>  

					</tbody>  
				</table>  
				<% end %>
			</p>
		</div>
	</div>
</div>