<% provide(:title, 'Sign up') %>

<!-- <p>Find me in app/views/users/new.html.erb</p> -->

<div class="container">
	<%= render 'shared/error_messages' %>
	
	<div id="signin">
		<h1>Sign in</h1>
		<%= form_for(@user) do |signin| %>

		<%= signin.label :login %>
		<%= signin.text_field :name %>

		<%= signin.label :password %>
		<%= signin.password_field :password %>

		<br/>

		<%= signin.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	<div id="signup">
		<h1>Sign up</h1>
		<%= form_for(@user) do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>
		<br/>

		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>