<h1>Listing playgrounds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Url</th>
    <th>Country</th>
    <th>Title</th>
    <th>Reproduce</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @playgrounds.each do |playground| %>
  <tr>
    <td><%= playground.name %></td>
    <td><%= playground.email %></td>
    <td><%= playground.url %></td>
    <td><%= playground.country %></td>
    <td><%= playground.title %></td>
    <td><%= playground.reproduce %></td>
    <td><%= link_to 'Show', playground %></td>
    <td><%= link_to 'Edit', edit_playground_path(playground) %></td>
    <td><%= link_to 'Destroy', playground, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playground', new_playground_path %>
