<% provide(:title, 'Basic information') %>

<div class="container">
  <div class="content-wrapper clearfix">
    <div class="row">
      <div class="span12">
        <div class="box round-corners box-shadow">
          <h3><%= @user.name %></h3>
          <p><%= @user.email %></p>
          <p>Please verify this information is correct. Click edit to make changes before purchasing the feedback.</p>
        </div>
      </div>

      <div class="span3">
        <ul class="nav nav-tabs nav-stacked">

          <li class="view-all">
            <%= link_to current_user do %>
                <i class="icon-arrow-left icon-gray"></i>Dashboard
            <% end %>
          </li>

          <!--<li class="view-all"><a href="#"><i class="icon-arrow-left icon-gray"></i>Dashboard</a></li>-->
          <li><a href="#">Manage Profile</a></li>
          <li class="active"><a href="#"><i class="icon-user icon-gray"></i>Basic Information</a></li>
          <!--<li><a href="#"><i class="icon-certificate icon-gray"></i>Contact Information</a></li>-->
          <li><a href="#"><i class="icon-edit icon-gray"></i>Projects Information</a></li>
          <!--<li><a href="#"><i class="icon-user icon-gray"></i>Testers</a></li>-->
          <li><a href="#"><i class="icon-shopping-cart icon-gray"></i>Payment Information</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-cog icon-gray"></i>Settings</a></li>
          <li><a href="#"><i class="icon-bullhorn icon-gray"></i>Promote</a></li>
        </ul>
      </div>

      <div class="span9 content">
        <div class="box round-corners box-shadow">
          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><span style="opacity: 1; "><%= value %></span>
                <a class="close" data-dismiss="alert" href="#" onclick="$(this).parent().fadeOut();return false;">×</a>
              </div>
          <% end %>
          <!--<div class="alert alert-success">-->
          <!--<span style="opacity: 1; ">Your challenge was added successfully</span>-->
          <!--<a class="close" data-dismiss="alert" href="#" onclick="$(this).parent().fadeOut();return false;">×</a>-->
          <!--</div>-->

          <div class="box round-corners box-shadow">
            <div class="analytics-wrapper">
              <div id="manage-activation">
                <strong>To see performance analytics</strong>
                <p>Your challenge description has 1 words. Successful challenges have over 100 words in the description.</p>
              </div>

            </div>
          </div>

          <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                  <div id="error_explanation">
                    <div class="alert alert-error"><%= pluralize(@user.errors.count, "error") %> prohibited this feedback from being saved:</div>

                    <ul>
                      <% @user.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <fieldset>
                <legend><i class="icon-ok-sign" style="margin-top:5px"></i> Required</legend>
                <div class="project-field fname">
                  <%= f.label :name, "Name:", :class => "control-label" %>
                  <%= f.text_field :name %>
                  <%= f.text_field :lastname, :placeholder => "Last Name" %>
                </div>

                <div class="project-field cname">
                  <%= f.label :company_name, "Company Name:", :class => "control-label" %>
                  <%= f.text_field :company_name, :placeholder => "Example: Let{us}Test" %>
                </div>
                <div class="project-field ctype">
                  <%= f.label :company_type, "Company Type:", :class => "control-label" %>
                  <%= f.text_field :company_type, :placeholder => "Example: Small, Medium or Large" %>
                </div>
                <div class="project-field contact">
                  <%= f.label :contact_number, "Contact Number:", :class => "control-label" %>
                  <%= f.text_field :contact_number, :placeholder => "Example: +66-81-9882642" %>
                </div>
                <!--<div class="question-field">-->
                  <!--<%#= f.label :questions, "Your website description:" %>-->
                  <!--<%#= f.text_area :questions, :rows => 8, class: "question", placeholder: "Example: Hackathon.io helps you organize, run, and promote the best Hackathons." %>-->
                <!--</div>-->
                <legend><i class="icon-info-sign" style="margin-top:5px"></i> Optional</legend>
                <div class="project-field contact">
                  <%= f.label :timezone, "Time Zone:", :class => "control-label" %>
                  <%= f.text_field :timezone, :placeholder => "Example: UTC-6, GMT+8" %>
                </div>

                <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
                <%= f.submit "Cancel", class: "btn btn-large btn-primary" %>
              </fieldset>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>