<% provide(:title, @user.name) %>

<div class="container">
  <div class="row">
    <!-- <div class="clear">

    </div> -->

    <div class="span3">
      <div class="box round-corners box-shadow" id="t-stats">

        <%= gravatar_for @user %>
        <h2> Welcome, <%= @user.name %></h2>
        <p>E-mail: <%= @user.email %></p>

      </div>

      <div class="box round-corners box-shadow" id="t-stats">
        <div class="box-title"><h2>Statistics</h2></div>
        <div class="box-content">
          <p><span class="badge">3760</span> Testlio score
            <a href="#" rel="tooltip" title="first tooltip for score<br/>This is the second line score"
               data-placement="top" data-toggle="tooltip"><i class="icon-gray icon-question-sign"></i></a></p>
          <p><span class="badge">1026</span> profile views</p>
        </div>
      </div>

      <div class="box round-corners box-shadow" id="t-stats">
        <div class="box-title"><h2>Verification</h2></div>
        <div class="box-content">
          <ul class="unstyled report">
            <li class="clearfix report-row">
              <i class="icon-facetime-video icon-gray"></i>Facebook Connected<i class="icon-ok-green pull-right"></i>
              <div class="report-row-actions">282 Friends</div>
            </li>
            <li class="clearfix report-row"><i class="icon-book icon-gray"></i>LinkedIn Connected<i class="icon-ok-green pull-right"></i>
              <div class="report-row-actions">Validated</div>
            </li>
          </ul>
        </div>
      </div>

      <%#= link_to "EDIT PROFILE", edit_user_path, class: "profile-btn" %>
      <%#= link_to "MANAGE PROFILE", manage_user_path, class: "project-btn" %>
    </div>
    <!-- end span 3 -->

    <div class="span9">
      <div class="box round-corners box-shadow" id="t-stats">

        <!-- In progress tests -->
        <section id="inprogress" class="client-version-box">
          <div class="client-version-section">
            <%= link_to "NEW TEST REQUEST", "/feedbacks/new?user=#{@user.id}", class: "project-btn right-btn" %>
            <!-- earn-title -->
            <div class="client-version-title">
              <div class="title">
                <h2>PUBLIC PROJECTS</h2>
              </div>
            </div>
            <% if @public.empty? %>

                <div class="table-box">
                  <div style="height: 250px; text-align: center; vertical-align: middle; display: table-cell;">
                    <p style="margin-left: 234px;width: 170px;margin-top: 36px;">No available projects</p>
                  </div>
                </div>

            <% else %>
                <!-- table-box -->
                <div class="table-box">
                  <table class="table table-bordered">
                    <thead>

                    <tr>
                      <th class="col1">Project name</th>
                      <th class="col2">Status</th>
                      <th class="col3">Test Start</th>
                      <th class="col4">Test End</th>
                    </tr>

                    </thead>
                    <tbody>
                    <% @public.each do |feedback| %>
                        <tr>
                          <td class="col1"><%= link_to feedback.name, "/feedbacks/#{feedback.id}" %></td>
                          <td class="col2"><%= feedback.status %></td>
                          <td class="col3"><%= feedback.updated_at %></td>
                          <td class="col4"><%= feedback.duedate %></a></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
            <% end %>
          </div>
        </section>
        <!-- Draft requests -->
        <section id="draft" class="client-request-box">
          <div class="client-request-section">
            <!-- earn-title -->
            <div class="client-request-title">
              <a href="#" rel="tooltip" class="button right" title="first tooltip" data-placement="top" data-toggle="tooltip">Need help?</a>

              <div class="title">
                <h2>PRIVATE PROJECTS</h2>
              </div>
            </div>
            <!-- table-box -->
            <div class="table-box">
              <!-- <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="col1">Project name</th>
                  <th class="col2">Version</th>
                  <th class="col3">Last modified</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="col1">Untitled #1373033736</td>
                  <td class="col2"></td>
                  <td class="col3">2013-07-05 10:16:39</td>
                  <td class="col4"><a href="#">Complete Request</a></td>
                  <td class="col5">
                    <a class="button erase-draft-button" href="#" id="yt0">Erase this draft</a>
                  </td>
                </tr>
                </tbody>
              </table>  -->

              <div style="height: 250px; text-align: center; vertical-align: middle; display: table-cell;">
                <p style="margin-left: 234px;width: 170px;margin-top: 36px;">No available projects</p>
              </div>

            </div>
          </div>
        </section>
        <!-- Completed requests -->
        <section id="completed" class="client-request-box">
          <div class="client-request-section">
            <!-- earn-title -->
            <div class="client-request-title">
              <a href="#" rel="tooltip" class="button right" title="The User cannot add more issue on Completed Project" data-placement="top" data-toggle="tooltip">Need help?</a>

              <div class="title">
                <h2>COMPLETED PROJECTS</h2>
              </div>
            </div>
            <!-- table-box -->

            <% if @completed.empty? %>

                <div class="table-box">
                  <div style="height: 250px; text-align: center; vertical-align: middle; display: table-cell;">
                    <p style="margin-left: 234px;width: 170px;margin-top: 36px;">No available projects</p>
                  </div>
                </div>

            <% else %>

                <div class="table-box">
                  <table class="table table-bordered">
                    <thead>

                    <tr>
                      <th class="col1">Project name</th>
                      <th class="col2">Status</th>
                      <th class="col3">Test Start</th>
                      <th class="col4">Test End</th>
                    </tr>

                    </thead>
                    <tbody>
                    <% @completed.each do |completelist| %>
                        <%# @user.feedbacks.each do |feedback| %>
                        <tr>
                          <td class="col1"><%= link_to completelist.name, "/feedbacks/#{completelist.id}" %></td>
                          <td class="col2"><%= completelist.status %></td>
                          <td class="col3"><%= completelist.updated_at %></td>
                          <td class="col4"><%= completelist.duedate %></a></td>
                        </tr>
                    <% end %>

                    </tbody>
                  </table>
                </div>

            <% end %>

          </div>
        </section>
      </div>
      <!-- end box round-corners -->

    </div>
    <!-- end span9 -->

  </div>
  <!-- end row -->

</div>