<%= form_for(@feedback) do |f| %>
    <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error"><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</div>

          <ul>
            <% @feedback.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend>Tell us about your challenge.<br/><small>Tell testers about your challenge. What's your product or service about?</small></legend>
      <div class="field">
        <%= f.label :name, "Your project name:" %>
        <%= f.text_field :name %>
      </div>
      <div class="question-field">
        <%= f.label :questions, "Your website description:" %>
        <%= f.text_area :questions, :rows => 8, class: "question", placeholder: "Example: Hackathon.io helps you organize, run, and promote the best Hackathons." %>
      </div>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    </fieldset>
<% end %>

