<% provide(:title, 'manage projects') %>

<div class="container">
  <div class="row">
    <div class="span9">
      <div class="box round-corners box-shadow overflow">

        <div class="name">
          <img src="http://placekitten.com/150/110" class="img-padding">
        </div>
        <h4><%= @feedback.name %></h4>
        <p>www.google.com</p>
        <div class="btn-group pull-right">
          <a href="#" class="btn btn-mini">New Issue</a>
          <a class="btn btn-mini ajax-modal" href="#">Info</a>
        </div>

        <div class="main-tabs clearfix ui-corner-bottom">
          <!-- <a class="pull-left " href="#">Issues</a> -->
          <%= link_to "Issues", showall_feedback_path, :class => "pull-left" %>
          <!-- <a class="pull-left active" href="#">Info</a> -->
          <%= link_to "Info", feedback_path, :class => "pull-left active" %>
          <%= link_to "Testers", testers_feedback_path, :class => "pull-left" %>
          <a class="pull-left " href="#">Files</a>
        </div>

      </div>
    </div>

    <div class="span3">
      <div class="box round-corners box-shadow">
        <p>You are a project's owner.</p>
        <p>Here we can place either client information or tester's score information.</p>

      </div>
    </div>

    <div class="span9">
      <div class="box round-corners box-shadow">

        <div class="tabbable">
          <ul class="nav nav-tabs gray">
            <li class="pull-left active"><a href="#tab1" data-toggle="tab">Rules</a></li>
            <li><a href="#tab2" data-toggle="tab">Project detail</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <p>Here we can pull the rule of this project to show here.</p>
            </div>
            <div class="tab-pane" id="tab2">
              <p>
                <b>Your project name:</b>
                <%= @feedback.name %>
              </p>
              <p>
                <b>Your type of project is:</b>
                <%= @feedback.typeofbugs %>
              </p>
              <b>URL:</b>
              <%= @feedback.url %>
              </p>
              <p>
                <b>Questions:</b>
                <%= @feedback.questions %>
              </p>
              <p>
                <b>Your Bug Tracking system:</b>
                <%= @feedback.bugsystem %>
              </p>
              <p>
                <b>Email Address:</b>
                <%= @feedback.email %>
              </p>
              <p>
                <b>Number of Bugs:</b>
                <%= @feedback.numofbugs %>
              </p>
              <p>
                <b>Due date:</b>
                <%= @feedback.duedate %>
              </p>
              <p>
                <b>Number of testers:</b>
                <%= @feedback.numberoftesters %>
              </p>
              <p>
                <b>Version:</b>
                <%= @feedback.version %>
              </p>
              <p>
                <b>Testing instructions:</b>
                <%= @feedback.testinginstr %>
              </p>
              <p>
                <b>First name:</b>
                <%= @feedback.firstname %>
              </p>
              <p>
                <b>Last name:</b>
                <%= @feedback.lastname %>
              </p>
              <p>
                <b>Telephone numnber:</b>
                <%= @feedback.telephone %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="span3">
      <div class="box round-corners box-shadow">
        <p>span 3</p>
        <p>This box can be help or special information for testers.</p>
        <p>Contact client: <%#= mail_to(@user.email) %></p>
      </div>
    </div>

  </div>
</div>