<% provide(:title, 'Show all bug') %>

<div class="container">
<div class="row">
<div class="span9">
  <div class="box round-corners box-shadow overflow">

    <div class="name">
      <img src="http://placekitten.com/150/110" class="img-padding">
    </div>
    <h4><%= @feedback.name %></h4>
    <p>www.google.com</p>
    <% if @feedback.status == 'completed' %>
        <div class="btn-group pull-right">
          <%#= link_to "New Issue", new_issue_path(:feedback_id => @feedback.id), :class => "btn btn-mini" %>
          <a href="#" class="btn btn-mini inactive">New Issue</a>
          <a class="btn btn-mini ajax-modal inactive" href="#">Info</a>
        </div>
    <% else %>
        <div class="btn-group pull-right">
          <%#= link_to "New Issue", new_issue_path(:feedback_id => @feedback.id), :class => "btn btn-mini" %>
          <a href="#" class="btn btn-mini">New Issue</a>
          <a class="btn btn-mini ajax-modal" href="#">Info</a>
        </div>

    <% end %>

    <div class="main-tabs clearfix ui-corner-bottom">
      <!-- <a class="pull-left " href="#">Issues</a> -->
      <%= link_to "Issues", showall_feedback_path, :class => "pull-left active" %>
      <!-- <a class="pull-left active" href="#">Info</a> -->
      <%= link_to "Info", feedback_path, :class => "pull-left" %>
      <%= link_to "Testers", testers_feedback_path, :class => "pull-left" %>
      <a class="pull-left " href="#">Files</a>
    </div>

  </div>
</div>

<div class="span3">
  <div class="box round-corners box-shadow">
    <p>You are a project's owner.</p>
    <p>Here we can place either client information or tester's score information.</p>

  </div>
</div>

<div class="span9">
  <ul class="nav nav-tabs">

    <!-- <li class="gray active"><a href="#">Open Issues <span class="label label-info"><%= @issue.count %></span></a></li>-->
    <!--<li><a href="#">Closed Issues</a></li>-->
    <!--<li><a href="#">Tab2</a></li>-->
    <% if @reject_tab == 'rejected' %>
        <li>
          <%= link_to (showall_feedback_path) do %>
              Open Issues <span class="label label-info"><%= @open_issue_count.count %></span>
          <%end%>
        </li>

        <li><a href="#">Closed Issues</a></li>

        <li class="gray active">
          <%= link_to (showall_feedback_path(:status => 'rejected')) do %>
              Rejected <span class="label label-info"><%= @rejected_issues.count %></span>
          <%end%>
        </li>

    <% else %>

        <li class="gray active">
          <%= link_to (showall_feedback_path) do %>
              Open Issues <span class="label label-info"><%= @open_issue_count.count %></span>
          <%end%>
        </li>

        <li><a href="#">Closed Issues</a></li>

        <li>
          <%= link_to (showall_feedback_path(:status => 'rejected')) do %>
              Rejected <span class="label label-info"><%= @rejected_issues.count %></span>
          <%end%>
        </li>

    <% end %>

  </ul>
  <!-- <div class="box round-corners box-shadow overflow"> -->
  <div class="box-shadow overflow">

    <% @issue.each do |issue| %>

        <%#= link_to feedback_issue_path(@feedback, issue.id) do %>

        <div class="media relative">
          <div class="forid"><span class="issueid">#<%= issue.id %></span></div>
          <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to issue.title, feedback_issue_path(@feedback, issue.id) %></h4>
            <%= truncate(issue.description, length: 85) %></br>
            <span class="label label-default">by <%= issue.tester.fname %></span> |
            created at <%= time_ago_in_words(issue.created_at.to_datetime) %> ago | <span class="label label-important"><%= issue.priority %></span>
          </div>
          <div class="on-right">
            <% if issue.approvalstatus == 'Approved' %>
                <span class="label label-success status-right"><%= issue.approvalstatus %></span></br>
            <% elsif issue.approvalstatus == 'Rejected' %>
                <span class="label label-important status-right"><%= issue.approvalstatus %></span></br>
            <% else %>
                <span class="label label-warning status-right"><%= issue.approvalstatus %></span></br>
            <% end %>
            <span class="comment"><%= pluralize(issue.comments.count, 'comment') %></span>
          </div>
        </div>

        <%# end %>
    <% end %>

    <!--<table class="table table-hover">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>ID</th>-->
    <!--<th>Title</th>-->
    <!--<th>Priority</th>-->
    <!--<th>Description</th>-->
    <!--<th>Approval Status</th>-->
    <!--<th><span style="color: blue;">Comments</span></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td><%#= link_to issue.id, :controller => "issues", :action => "show", :id => issue.id %></td>-->
    <!--<td><%#= link_to issue.id, feedback_issue_path(@feedback, issue.id) %></td>-->
    <!--<td><%#= issue.tester.fname %></td>-->
    <!--<td><%#= issue.priority %></td>-->
    <!--<td><%#= issue.description %></td>-->
    <!--<td style="font-weight: bold;"><%#= issue.approvalstatus %></td>-->
    <!--<td style="font-weight: bold; color: blue;"><%#= issue.comments.count %></td>-->
    <!--</tr>-->

    <!--</tbody>-->
    <!--</table>-->

    <!--<div class="row-fluid">-->
    <!--<div class="span12 all-issue">-->

    <!--<div class="issue-row">-->
    <!--<div class="img">-->
    <!--<img src="//placehold.it/50x50"></div>-->
    <!--<div class="title">-->
    <!--<h3 class="issue-title"><%#= issue.title %></h3>-->
    <!--<div class="by-user"> Aenean sit amet felis dolor, in sagittis nisi.-->
    <!--<span class="comment"> <%#= issue.comments.count %> comment(s) </span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="review"> <%#= issue.approvalstatus %> </div>-->

    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

  </div>
</div>

<div class="span3">
  <div class="box round-corners box-shadow">
    <!-- <p>span 3</p>
        <p>This box can be help or special information for testers.</p>
        <p>Contact client: <%#= mail_to(@user.email) %></p>-->
    <div class="js-editable-labels-container">
      <ul class="js-color-label-list filter-list color-label-list small " data-pjax="">
        <h4>Labels</h4>
        <li>
          <a href="#" class="filter-item color-label  labelstyle-fc2929 zeroed" data-label="bug" rel="nofollow">
            <span class="count"><%= @bug %></span>
            <span class="color" style="background-color: #fc2929">&nbsp;</span>
            <span class="octicon octicon-remove-close"></span>
            <span class="name">bug</span>
          </a>
        </li>
        <li>
          <a href="#" class="filter-item color-label  labelstyle-cccccc zeroed" data-label="duplicate" rel="nofollow">
            <span class="count">0</span>
            <span class="color" style="background-color: #cccccc">&nbsp;</span>
            <span class="octicon octicon-remove-close"></span>
            <span class="name">duplicate</span>
          </a>          </li>
        <li>
          <a href="#" class="filter-item color-label  labelstyle-84b6eb zeroed" data-label="enhancement" rel="nofollow">
            <span class="count">0</span>
            <span class="color" style="background-color: #84b6eb">&nbsp;</span>
            <span class="octicon octicon-remove-close"></span>
            <span class="name">enhancement</span>
          </a>
        </li>
        <li>
          <a href="#" class="filter-item color-label  labelstyle-e6e6e6 zeroed" data-label="invalid" rel="nofollow">
            <span class="count">0</span>
            <span class="color" style="background-color: #e6e6e6">&nbsp;</span>
            <span class="octicon octicon-remove-close"></span>
            <span class="name">invalid</span>
          </a>
        </li>
        <li>
          <a href="#" class="filter-item color-label  labelstyle-cc317c zeroed" data-label="question" rel="nofollow">
            <span class="count"><%= @question %></span>
            <span class="color" style="background-color: #cc317c">&nbsp;</span>
            <span class="octicon octicon-remove-close"></span>
            <span class="name">question</span>
          </a>
        </li>
        <li>
          <a href="#" class="filter-item color-label  labelstyle-ffffff zeroed" data-label="wontfix" rel="nofollow">
            <span class="count">0</span>
            <span class="color" style="background-color: #ffffff">&nbsp;</span>
            <span class="octicon octicon-remove-close"></span>
            <span class="name">wontfix</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="span3 severity">
  <div class="box round-corners box-shadow">
    <!-- <p>span 3</p>
        <p>This box can be help or special information for testers.</p>
        <p>Contact client: <%#= mail_to(@user.email) %></p>-->
    <div class="js-editable-labels-container">
      <ul class="js-color-label-list filter-list color-label-list small " data-pjax="">
        <h4>Severity</h4>
        <li>
          <!--<a href="#" class="filter-item color-label  labelstyle-fc2929 zeroed" data-label="bug" rel="nofollow">-->
          <!--&lt;!&ndash;<span class="count">0</span>&ndash;&gt;-->
          <!--<span class="color" style="background-color: #fc2929">&nbsp;</span>-->
          <!--<span class="octicon octicon-remove-close"></span>-->
          <!--<span class="name">High</span>-->
          <!--</a>-->
          <%= link_to (showall_feedback_path(:severity => 'high')), :class => 'filter-item color-label labelstyle-fc2929 zeroed' do %>
              <span class="color" style="background-color: #fc2929">&nbsp;</span>
              <span class="octicon octicon-remove-close"></span>
              <span class="name">High</span>
          <% end %>
        </li>
        <li>
          <!--<a href="#" class="filter-item color-label  labelstyle-cccccc zeroed" data-label="duplicate" rel="nofollow">-->
          <!--&lt;!&ndash;<span class="count">0</span>&ndash;&gt;-->
          <!--<span class="color" style="background-color: #cccccc">&nbsp;</span>-->
          <!--<span class="octicon octicon-remove-close"></span>-->
          <!--<span class="name">Medium</span>-->
          <!--</a>-->
          <%= link_to (showall_feedback_path(:severity => 'medium')), :class => 'filter-item color-label labelstyle-fc2929 zeroed' do %>
              <span class="color" style="background-color: #cccccc">&nbsp;</span>
              <span class="octicon octicon-remove-close"></span>
              <span class="name">Medium</span>
          <% end %>
        </li>
        <li>
          <!--<a href="#" class="filter-item color-label  labelstyle-84b6eb zeroed" data-label="enhancement" rel="nofollow">-->
          <!--&lt;!&ndash;<span class="count">0</span>&ndash;&gt;-->
          <!--<span class="color" style="background-color: #84b6eb">&nbsp;</span>-->
          <!--<span class="octicon octicon-remove-close"></span>-->
          <!--<span class="name">Low</span>-->
          <!--</a>-->
          <%= link_to (showall_feedback_path(:severity => 'low')), :class => 'filter-item color-label labelstyle-fc2929 zeroed' do %>
              <span class="color" style="background-color: #84b6eb">&nbsp;</span>
              <span class="octicon octicon-remove-close"></span>
              <span class="name">Low</span>
          <% end %>
        </li>

      </ul>
    </div>
  </div>

</div>
</div>
</div>