<% provide(:title, 'Verify your request') %>
<div class="container">
<% if current_user %>
    <div id="user-left">
      <h1>
        <%= gravatar_for @user %> <br/>
        Welcome, <%= @user.name %> <br/>
      </h1>
      <%= @user.email %> <br/>
      <%= link_to "DASHBOARD", current_user, class: "profile-btn" %>
      <%= link_to "DESCRIPTION", description_feedback_path, class: "profile-btn" %>
      <%= link_to "RULES", rule_feedback_path, class: "profile-btn" %>
      <%= link_to "SETTING", current_user, class: "profile-btn" %>



      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#lA" data-toggle="tab">Dashboard</a></li>
          <li class=""><a href="#lB" data-toggle="tab">Description</a></li>
          <li class=""><a href="#lC" data-toggle="tab">Rules</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
            <p>I'm in Section A.</p>
          </div>
          <div class="tab-pane" id="lB">
            <p>Howdy, I'm in Section B.</p>
          </div>
          <div class="tab-pane" id="lC">
            <p>What up girl, this is Section C.</p>
          </div>
        </div>
      </div>

      <!----------------------------- Show Testers NAME ---------------------- -->
      <!--<div>
        Testers in this project:
        <%# @findallissue.each do |tester| %>
            Name : <%#= tester.tester.fname %>
        <%# end %>
      </div>-->

    </div>
<% end %>

<% if current_tester %>
    <div id="user-left">
      <h1>
        Welcome, <%= @tester.fname %> <br/>
      </h1>
      <%= @tester.email %> <br/>

      <% @project_score.each do |x| %>

          <% if x.score == nil %>

              <p>Score for this project: NO SCORE FOR THIS PROJECT </p>

          <% else %>

              <p>Score for this project: <%= x.score %></p>

          <% end %>
      <% end %>

      <%= link_to "DASHBOARD", current_tester, class: "profile-btn" %> <br/>

      <!----------------------------- Show Testers NAME ---------------------- -->
      <!--<div>
        Testers in this project:
        <%# @findallissue.each do |tester| %>
            Name : <%#= tester.tester.fname %>
        <%# end %>
      </div>-->



    </div>
<% end %>

<div id="user-right">


  <div id="content">
    <div class="row">
      <% if @feedback.status == "successful" %>

          <div class="span9">
            <ul class="nav nav-tabs">
              <li class="active">
                <%= link_to "Home" %>
              </li>
              <li>
                <%= link_to "Show all bug", showall_feedback_path %>
              </li>
              <% if current_tester %>
                  <li>
                    <%= link_to "My bug", mybug_feedback_path %>
                  </li>
              <% end %>
            </ul>
          </div>

      <% end %>

    </div>

    <% if current_user %>
        <div id= "verify-request">
          <h2>Verify Request</h2>
          <p>Please verify this information is correct. Click edit to make changes before purchasing the feedback.</p>
        </div>
    <% elsif current_tester %>

        <div id= "verify-request">
          <h2>Project Information</h2>
          <p>Please find all project information here,
            if you have any enquiry about this project you can leave a message to client.
          </p>
        </div>
    <% end %>

    <p class="url">
    <p>
      <b>Your project name:</b>
      <%= @feedback.name %>
    </p>
    <p>
      <b>Your type of project is:</b>
      <%= @feedback.typeofbugs %>
    </p>
    <b>URL:</b>
    <%= @feedback.url %>
    </p>
    <p>
      <b>Questions:</b>
      <%= @feedback.questions %>
    </p>
    <p>
      <b>Your Bug Tracking system:</b>
      <%= @feedback.bugsystem %>
    </p>
    <p>
      <b>Email Address:</b>
      <%= @feedback.email %>
    </p>
    <p>
      <b>Number of Bugs:</b>
      <%= @feedback.numofbugs %>
    </p>
    <p>
      <b>Due date:</b>
      <%= @feedback.duedate %>
    </p>
    <p>
      <b>Number of testers:</b>
      <%= @feedback.numberoftesters %>
    </p>
    <p>
      <b>Version:</b>
      <%= @feedback.version %>
    </p>
    <p>
      <b>Testing instructions:</b>
      <%= @feedback.testinginstr %>
    </p>
    <p>
      <b>First name:</b>
      <%= @feedback.firstname %>
    </p>
    <p>
      <b>Last name:</b>
      <%= @feedback.lastname %>
    </p>
    <p>
      <b>Telephone numnber:</b>
      <%= @feedback.telephone %>
    </p>
    <p class=reivew-detail>
      *Please review your detail before making a payment
    </p>
  </div>

  <% if current_user %>

      <%= link_to 'Edit', edit_feedback_path(@feedback) %> |
      <%= link_to 'Back', current_user %>


      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">List of Testers</a></li>
          <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <% @project_tester.each do |project_tester| %>

                <p><%= link_to project_tester.fname, tester_path(project_tester.id) %></p>

            <% end %>
          </div>
          <div class="tab-pane" id="tab2">
            <p>Howdy, I'm in Section 2.</p>
          </div>
        </div>
      </div>

      <div class="purchase newfeedback">
        <h3>Purchase feedback</h3>
        <ul>
          <li>The cost is <%= @feedback.numofbugs %>. A refund is available if you're not satisfied.</li>
          <li>PayPal will show the payee as <%= mail_to "paypal@letustest.com" %></li>
          <li>After paying, click return to merchant to complete your order.</li>
        </ul>
        <br/>

        <% if @feedback.status != "successful" %>
            <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), @feedback.paypal_url(feedbacks_url) %> |
            <%= link_to "PAY OFFLINE", status_feedback_path(:status => "successful")%>
        <% end %>
      </div>



  <% end %>
</div>

</div>
