<% provide(:title, 'Show all bug') %>

<div class="container">
  <div class="row">
    <div class="span9">
      <div class="box round-corners box-shadow overflow">

        <div class="name">
          <img src="http://placekitten.com/150/110" class="img-padding">
        </div>
        <h4><%= @feedback.name %></h4>
        <p>www.google.com</p>
        <div class="btn-group pull-right">
          <a href="#" class="btn btn-mini">New Issue</a>
          <a class="btn btn-mini ajax-modal" href="#">Info</a>
        </div>

        <div class="main-tabs clearfix ui-corner-bottom">
          <!-- <a class="pull-left " href="#">Issues</a> -->
          <%= link_to "Issues", showall_feedback_path, :class => "pull-left active" %>
          <!-- <a class="pull-left active" href="#">Info</a> -->
          <%= link_to "Info", feedback_path, :class => "pull-left" %>
          <%= link_to "Testers", testers_feedback_path, :class => "pull-left" %>
          <a class="pull-left " href="#">Files</a>
        </div>

      </div>
    </div>

    <div class="span3">
      <div class="box round-corners box-shadow">
        <p>You are a project's owner.</p>
        <p>Here we can place either client information or tester's score information.</p>

      </div>
    </div>

    <div class="span9">
      <div class="box round-corners box-shadow">

        <% @issue.each do |issue| %>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Priority</th>
                <th>Description</th>
                <th>Approval Status</th>
                <th><span style="color: blue;">Comments</span></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <!-- <td><%= link_to issue.id, :controller => "issues", :action => "show", :id => issue.id %></td> -->
                <td><%= link_to issue.id, feedback_issue_path(@feedback, issue.id) %></td>
                <td><%= issue.tester.fname %></td>
                <td><%= issue.priority %></td>
                <td><%= issue.description %></td>
                <td style="font-weight: bold;"><%= issue.approvalstatus %></td>
                <td style="font-weight: bold; color: blue;"><%= issue.comments.count %></td>
              </tr>

              </tbody>
            </table>

            <!--<div class="row-fluid">-->
            <!--<div class="span12 all-issue">-->

            <!--<div class="issue-row">-->
            <!--<div class="img">-->
            <!--<img src="//placehold.it/50x50"></div>-->
            <!--<div class="title">-->
            <!--<h3 class="issue-title"><%= issue.title %></h3>-->
            <!--<div class="by-user"> Aenean sit amet felis dolor, in sagittis nisi.-->
            <!--<span class="comment"> <%= issue.comments.count %> comment(s) </span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="review"> <%= issue.approvalstatus %> </div>-->

            <!--</div>-->

            <!--</div>-->
            <!--</div>-->


        <% end %>
      </div>
    </div>

    <div class="span3">
      <div class="box round-corners box-shadow">
        <p>span 3</p>
        <p>This box can be help or special information for testers.</p>
        <p>Contact client: <%= mail_to(@user.email) %></p>
      </div>
    </div>

  </div>
</div>