<% provide(:title, 'Verify your request') %>
<div class="container">
	<% if current_user %>
	<div id="user-left">
		<h1>
			<%= gravatar_for @user %> <br/>
			Welcome, <%= @user.name %> <br/>
		</h1>
		<%= @user.email %> <br/>
		<%= link_to "DASHBOARD", current_user, class: "profile-btn" %> <br/>

	</div>
	<% end %>

	<% if current_tester %>
	<div id="user-left">
		<h1>
			Welcome, <%= @tester.fname %> <br/>
		</h1>
		<%= @tester.email %> <br/>
		<%= link_to "DASHBOARD", current_tester, class: "profile-btn" %> <br/>
	</div>
	<% end %>

	<div id="user-right">
		<div id="content">
			<% if current_user %>
			<div id= "verify-request">
				<h2>Verify Request</h2>
				<p>Please verify this information is correct. Click edit to make changes before purchasing the feedback.</p>
			</div>
			<% elsif current_tester %>

			<div id= "verify-request">
				<h2>Issue Information</h2>
				<p>This is your issue</p>
			</div>
			<% end %>

			<p class="url">
				<p>
					<b>Title:</b>
					<%= @issue.title %>
				</p>

				<p>
					<b>Priority:</b>
					<%= @issue.priority %>
				</p>

				<p>
					<b>Description:</b>
					<%= @issue.description %>
				</p>
			</p>
			
			<br/>
			
			<div>
				<p>Approval Status: <%= @issue.approvalstatus %></p>
				<% if current_user && @issue.approvalstatus == "Waiting for Approval"%>
				<p>Change Approval Status: 
				<%= link_to "Rejected", {:action => :approvalstatus, :approvalstatus => "Rejected"}, :method => :put %>
				| <%= link_to "Approved", {:action => :approvalstatus, :approvalstatus => "Approved"},  :method => :put%>
				</p>
				<% end %>	
				<p>Issue Status: New</p>
			</div>
			
			<br/>

			<%= link_to 'Edit', edit_issue_path(@issue) %> |
			<%= link_to 'Back', issues_path %>
			
			
			<br/>
			<br/>
			
			<div id="comment">
			Please leave your comment here:
			
			<br/>
			<%= render :partial =>"comment" %>
			
			</div>
			
			<p class="url">
				<% @commentofissue.each do |commentofissue| %>
				<table class="table">  
					<thead>  
						<tr>  
							<th>Name</th>  
							<th>Description</th>  
							<th>Create Date</th>  
							<th>Update Date</th>  
						</tr>  
					</thead>  
					<tbody>  
						<tr>  
							<td><%= commentofissue.tester_name %></td>  
							<td><%= commentofissue.description %></td>  
							<td><%= commentofissue.created_at %></td>  
							<td><%= commentofissue.updated_at %></td>  
						</tr>  
					</tbody>  
				</table>  
				<% end %>
			</p>

		</div>
	</div>
</div>




