<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @tester.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @tester.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @tester.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @tester.gender %>
</p>

<p>
  <b>Phone:</b>
  <%= @tester.phone %>
</p>

<p>
  <b>City:</b>
  <%= @tester.city %>
</p>

<p>
  <b>Country:</b>
  <%= @tester.country %>
</p>

<p>
  <b>Twitterid:</b>
  <%= @tester.twitterid %>
</p>

<p>
  <b>Linkedinid:</b>
  <%= @tester.linkedinid %>
</p>

<p>
  <b>Paypalid:</b>
  <%= @tester.paypalid %>
</p>

<p>
  <b>Bankaccount:</b>
  <%= @tester.bankaccount %>
</p>

<p>
  <b>Aboutme:</b>
  <%= @tester.aboutme %>
</p>


<%= link_to 'Edit', edit_tester_path(@tester) %> |
<%= link_to 'Back', testers_path %> -->

<% provide(:title, @tester.fname) %>

<div class="container">
	<div id="user-left">
		<h1>
			Welcome, <%= @tester.fname %> <br/>
		</h1>
		E-mail: <%= @tester.email %> <br/>
		Score: <%= @tester.score %> <br/>
		<%= link_to "EDIT PROFILE", edit_tester_path, class: "profile-btn" %>
		<%= link_to "PROJECTS", projects_path, class: "profile-btn" %>
	</div>

	<div id="user-right">
		<div id="content">
			<!-- In progress tests -->
			<section id="inprogress" class="client-version-box">
				<div class="client-version-section">
					<!-- earn-title -->
					<div class="client-version-title">
						<div class="title">
							<h2>PAID-PER-BUG</h2>
						</div>
					</div>
					<!-- table-box -->
					<div class="table-box">
						<table class="table table-bordered">
							<thead>
								
								<tr>
									<th class="col1">Project name</th>
									<th class="col2">Version</th>
									<th class="col3">Test Start</th>
									<th class="col4">Test End</th>
								</tr>
							
							</thead>
							<tbody>
								<% @tester.feedbacks.each do |feedback| %>
								<tr>
									<td class="col1"><%= link_to feedback.name, "/feedbacks/#{feedback.id}" %></td>
									<td class="col2"><%= feedback.version %></td>
									<td class="col3"><%= feedback.updated_at %></td>
									<td class="col4"><%= feedback.duedate %></a></td>
								</tr>
									<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<!-- Draft requests -->
			<section id="draft" class="client-request-box">
				<div class="client-request-section">
					<!-- earn-title -->
					<div class="client-request-title">
						<a href="http://crowdsourcedtesting.com/en/software-testing-help" class="button">Need help?</a>

						<div class="title">
							<h2>UNPAID JOBS</h2>
						</div>
					</div>
					<!-- table-box -->
					<div class="table-box">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="col1">Project name</th>
									<th class="col2">Version</th>
									<th class="col3">Last modified</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="col1">Untitled #1373033736</td>
									<td class="col2"></td>
									<td class="col3">2013-07-05 10:16:39</td>
									<td class="col4"><a href="#">Complete Request</a></td>
									<td class="col5">
										<a class="button erase-draft-button" href="#" id="yt0">Erase this draft</a>                       
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<!-- Completed requests -->
			<section id="completed" class="client-request-box">
				<div class="client-request-section">
					<!-- earn-title -->
					<div class="client-request-title">
						<a href="http://crowdsourcedtesting.com/en/software-testing-help" class="button">Need help?</a>

						<div class="title">
							<h2>COMPLETED PROJECTS</h2>
						</div>
					</div>
					<!-- table-box -->
					<div class="table-box">
						<div style="height: 250px; text-align: center; vertical-align: middle; display: table-cell;">
							<p style="margin-left: 234px;width: 170px;margin-top: 36px;">No available projects</p>
						</div>
					</div>
				</div>
			</section>                
		</div>
	</div>

</div>
