<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @tester.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @tester.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @tester.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @tester.gender %>
</p>

<p>
  <b>Phone:</b>
  <%= @tester.phone %>
</p>

<p>
  <b>City:</b>
  <%= @tester.city %>
</p>

<p>
  <b>Country:</b>
  <%= @tester.country %>
</p>

<p>
  <b>Twitterid:</b>
  <%= @tester.twitterid %>
</p>

<p>
  <b>Linkedinid:</b>
  <%= @tester.linkedinid %>
</p>

<p>
  <b>Paypalid:</b>
  <%= @tester.paypalid %>
</p>

<p>
  <b>Bankaccount:</b>
  <%= @tester.bankaccount %>
</p>

<p>
  <b>Aboutme:</b>
  <%= @tester.aboutme %>
</p>


<%= link_to 'Edit', edit_tester_path(@tester) %> |
<%= link_to 'Back', testers_path %>
