<% title "Project" %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Duedate:</strong>
  <%= @project.duedate %>
</p>
<div class="field">
	<%= hidden_field_tag "project[compatibility_ids][]", nil%>
  <% Compatibility.all.each do |compatibility| %>
    <%= check_box_tag "project[compatibility_ids][]", compatibility.id,  @project.compatibility_ids.include?(compatibility.id) %>
    <%= compatibility.name %><br/>
  <% end %>
</div>
 <% for tester in @project.testers %>  

<p>tester name: <%= tester.name %> <br/></p>

<% end %>

  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>


<p><%= link_to "New Topic", "/testers/new?project=#{@project.id}" %></p>  
<p><%= link_to "Home", current_user %></p>  